.picture {
    background-color: #f5f5f5;
}

.picutre-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 108px 0; 
}

.pocture-text {
    max-width: 470px;
}

.picture-img {}

.picture-img__img {}